# Dependencias
# Esta carpeta contiene todos los paquetes de npm. Es muy pesada y cualquiera
# puede regenerarla ejecutando 'npm install'. ¡NUNCA la subas a Git!
node_modules/

# Logs
# Archivos de registro que se generan durante la ejecución o al ocurrir errores.
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Variables de Entorno
# ¡MUY IMPORTANTE! Este archivo contiene secretos como claves de API,
# contraseñas de bases de datos, etc. Nunca debe estar en un repositorio público.
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos del Sistema Operativo
# Basura generada por macOS, Windows y Linux que no pertenece al proyecto.
.DS_Store
Thumbs.db

# Carpetas de editores de código
# Configuraciones personales de tu editor que no deben ser compartidas.
.vscode/
.idea/