.card {
    background-color: var(--card-color);
    border: 1px solid #444;
    padding: 0.75rem;
}

.card h3 {
    font-size: 1.1rem;
    margin-bottom: 0.75rem !important;
}

.list-group-item {
    background-color: #2c2c2c;
    border-color: #444;
    padding: 0.5rem 0.75rem;
}

.list-group-item:hover {
    background-color: #383838;
}

.rounded-circle {
    border: 2px solid var(--primary-color);
}

.list-group-item h5 {
    font-size: 0.9rem;
}

.list-group-item p {
    font-size: 0.8rem;
}