<div class="card">
  @if (profile) {
    <div class="profile-header d-flex align-items-center mb-3">
      <img [src]="profile.avatar_url" alt="GitHub Avatar" class="rounded-circle me-3"
        style="width: 75px; height: 75px;">
      <div class="profile-info">
        <h5 class="mb-1">{{ profile.name || profile.login }}</h5>
        <a [href]="profile.html_url" target="_blank" class="btn btn-outline-light btn-sm">
          <i class="bi bi-github me-2"></i>Ver Perfil
        </a>
      </div>
    </div>
  }

  <h3 class="mb-3">Proyectos Recientes</h3>
  @if (isLoading) {
    <div class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  }

  @if (!isLoading) {
    <div class="list-group">
      @for (repo of repos; track repo) {
        <a [href]="repo.html_url" target="_blank"
          class="list-group-item list-group-item-action bg-dark text-light border-secondary mb-1 rounded">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 text-primary">{{ repo.name }}</h5>
            <small><i class="bi bi-star-fill text-warning"></i> {{ repo.stargazers_count }}</small>
          </div>
          <p class="mb-1 text-light">{{ (repo.description || 'Sin descripción') | truncate:50 }}</p>
        </a>
      }
    </div>
  }
</div>