.card {
    background-color: var(--card-color);
    border: 1px solid #444;
}

.list-group-item {
    background-color: #2c2c2c;
    border-color: #444;
}

.list-group-item:hover {
    background-color: #383838;
}

.rounded-circle {
    border: 2px solid var(--primary-color);
}