<section id="sobre-mi">
    <div class="card">
        <h2>Sobre Mí</h2>
    <p>
        <strong>Versión Completa:</strong><br>
        Estudiante de la carrera de Computer Science en la Universidad Francisco Marroquin.
        Aficionado de las muchas artes narrativas y un entusiasta de las ciencias forenses.
    </p>
    <hr>
    <p>
        <strong>Versión Truncada:</strong><br>
        {{ 
          'Estudiante de la carrera de Computer Science en la Universidad Francisco Marroquin. Aficionado de las muchas artes narrativas y un entusiasta de las ciencias forenses.' 
          | truncate:10 
        }}
    </p>
    </div>
</section>
