<header class="d-flex justify-content-center align-items-center">
    <div class="header-content">
        <!-- Saludo Dinámico -->
        <div id="dynamic-greeting" class="dynamic-greeting-container">
            <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                <i [class]="greetingIconClass" class="display-4 me-3"></i>
                <p class="m-0 fs-3">{{ greetingText }}</p>
            </div>
            <p class="m-0 display-4 fw-bold">{{ currentTime }}</p>
            <p class="m-0 text-white-50 fs-5">{{ currentDate }}</p>
        </div>

        <!-- Grupo de Perfil (Foto e Info) -->
        <div class="profile-group d-flex flex-column flex-md-row align-items-center">
            <div class="profile-picture-container">
                <img [src]="profilePhoto" alt="Foto de Jonatan Aguilar" class="profile-photo rounded-circle border border-primary border-5">
            </div>
            <div class="header-text" [class.minimal-view]="isContactMinimal">
                <h1>Jonatan Aguilar</h1>
                <h2>Estudiante de Computer Science</h2>
                <nav id="contact-links">
                    <a href="mailto:josue.aguilar@ufm.edu" class="d-inline-flex align-items-center"><i class="bi bi-envelope-fill me-2"></i> Correo</a>
                    <a href="https://github.com/Aster-Knight" class="d-inline-flex align-items-center"><i class="bi bi-github me-2"></i> Github</a>
                    <a href="https://www.linkedin.com/in/jonatan-aguilar-a1879b37b/" class="d-inline-flex align-items-center"><i class="bi bi-linkedin me-2"></i> Linkedin</a>
                    <button id="download-btn" class="btn btn-outline-light d-inline-flex align-items-center gap-2" (click)="generatePDF()"><i class="bi bi-download"></i> Descargar CV</button>
                </nav>
            </div>
        </div>

        <!-- Botones de Acción -->
        <div class="action-buttons-container d-flex flex-column gap-3">
            <button id="toggle-experience-btn" class="btn btn-primary" (click)="toggleExperience()"><i [class]="experienceIconClass"></i> Experiencia</button>
            <button id="toggle-contact-btn" class="btn btn-info" (click)="toggleContactView()"><i [class]="contactIconClass"></i> {{ contactButtonText }}</button>
            <button id="toggle-theme-btn" class="btn btn-secondary" (click)="toggleTheme()"><i [class]="themeIconClass"></i> {{ themeButtonText }}</button>
        </div>
    </div>
</header>