<div class="card">
    <h2>Experiencia y Formación</h2>
    <p>Navega entre mi experiencia profesional y mi formación académica.</p>

    <!-- Navegación para las rutas hijas -->
    <nav class="nav nav-pills my-3">
      <a class="nav-link" routerLink="jobs" routerLinkActive="active">Trabajos</a>
      <a class="nav-link" routerLink="studies" routerLinkActive="active">Estudios</a>
    </nav>
    
    <!-- Aquí es donde Angular mostrará JobsListComponent o StudiesListComponent -->
    <router-outlet></router-outlet>
</div>